- name: Check if bashrc already exists
  stat: path="{{ ansible_facts['env']['HOME'] }}/.bashrc"
  register: bashrc_stat

- name: Back up bashrc if it exists
  command: mv ~/.bashrc ~/.bashrc.old
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.zshrc.bak"
  when: bashrc_stat.stat.exists

- name: Link bashrc
  file:
    src: "{{ dotfiles_home }}/roles/bash/files/bashrc.link"
    dest: "{{ ansible_facts['env']['HOME'] }}/.bashrc"
    state: link

