---
- name: Collecting Facts
  hosts: local
  gather_facts: true

- name: Set up local dev environment
  hosts: local
  vars_prompt:
    - name: python_version
      prompt: "Python version to install (e.g., 3.12.3, latest, or 'skip' to skip)"
      default: "latest"
      private: false

    - name: golang_version
      prompt: "Go version to install (e.g., 1.23.2, latest, or 'skip' to skip)"
      default: "latest"
      private: false

    - name: nodejs_version
      prompt: "Node.js version to install (e.g., 20.10.0, latest, or 'skip' to skip)"
      default: "latest"
      private: false

  roles:
    - { role: packages, tags: ['packages', 'bootstrap'] }
    - { role: git, tags: ['git', 'bootstrap'] }
    - { role: ssh, tags: ['ssh', 'bootstrap'] }
    - { role: zsh, tags: ['zsh', 'bootstrap'] }
    - { role: bash, tags: ['bash', 'never'] }
    - { role: starship, tags: ['starship', 'bootstrap'] }
    - { role: nvim, tags: ['nvim', 'bootstrap'] }
    - { role: lazygit, tags: ['lazygit', 'bootstrap'] }
    - { role: ripgrep, tags: ['ripgrep', 'bootstrap'] }
    - role: macos
      tags: ['macos']
      when: ansible_facts['os_family'] == 'Darwin'
    - role: aerospace
      tags: ['aerospace']
      when: ansible_facts['os_family'] == 'Darwin'
    - role: sway
      tags: ['sway']
      when: ansible_facts['system'] == 'Linux'
    - { role: node, tags: ['node', 'never'] }
    - { role: kube, tags: ['kube'] }
