---
- name: Collecting Facts
  hosts: local
  gather_facts: yes

- name: Set up local dev environment
  hosts: local
  vars_prompt:
    - name: python_version
      prompt: "Python version to install (e.g., 3.12.3, latest, or 'skip' to skip)"
      default: "latest"
      private: no

    - name: golang_version
      prompt: "Go version to install (e.g., 1.23.2, latest, or 'skip' to skip)"
      default: "latest"
      private: no

    - name: nodejs_version
      prompt: "Node.js version to install (e.g., 20.10.0, latest, or 'skip' to skip)"
      default: "latest"
      private: no

  roles:
    - { role: packages, tags: ['packages', 'bootstrap'] }
    - { role: git, tags: ['git', 'bootstrap'] }
    - { role: zsh, tags: ['zsh', 'bootstrap'] }
    - { role: bash, tags: ['bash', 'never'] }
    - { role: starship, tags: ['starship', 'bootstrap'] }
    - { role: nvim, tags: ['nvim', 'bootstrap'] }
    - { role: node, tags: ['node', 'never'] }
    - { role: kube, tags: ['kube'] }
