---
- name: Link zshrc
  file:
    src: "{{ dotfiles_home }}/roles/zsh/files/zshrc.link"
    dest: "{{ ansible_env.HOME }}/.zshrc"
    state: link
    force: yes

- name: Ensure zsh is the default shell
  user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh
  become: yes
  when: ansible_os_family == "Darwin" or ansible_os_family == "Debian" or ansible_os_family == "RedHat"
  ignore_errors: yes
